@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville&family=Lora&family=Montserrat&family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  overflow: hidden;  
}