@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Libre+Baskerville&family=Lora&family=Montserrat&family=Nunito&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
